<div class="container">
  <div class="row">
  <h1>Leaderboard Level</h1>
    <div class="col-md-4 p-2">
      <div class="card profile-card-3">
        <div class="background-block">
          <img src="/assets/splash/Aatrox_7.jpg" alt="champion" class="background"/>
        </div>
        <div class="profile-thumb-block">
          <img src="/assets/profile-icon/656.png" alt="profile-icon" class="profile"/>
        </div>
        <div class="card-content">
          <h2>PabloA3 #LAN (LAN)<small>Level 1169</small></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="card profile-card-3">
        <div class="background-block">
          <img src="/assets/splash/Malphite_16.jpg" alt="champion" class="background"/>
        </div>
        <div class="profile-thumb-block">
          <img src="/assets/profile-icon/3220.png" alt="profile-icon" class="profile"/>
        </div>
        <div class="card-content">
          <h2>smallcatcoco #JP1 (JP)<small>Level 1167</small></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="card profile-card-3">
        <div class="background-block">
          <img src="/assets/splash/Heimerdinger_15.jpg" alt="champion" class="background"/>
        </div>
        <div class="profile-thumb-block">
          <img src="/assets/profile-icon/5199.png" alt="profile-icon" class="profile"/>
        </div>
        <div class="card-content">
          <h2>VipersMalice #NA1 (NA)<small>Level 1166</small></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>Mastery Level</h1>
    <div class="col-md-4 p-2">
      <div class="card profile-card-3">
        <div class="background-block">
          <img src="/assets/splash/Teemo_0.jpg" alt="champion" class="background"/>
        </div>
        <div class="profile-thumb-block">
          <img src="/assets/profile-icon/5719.png" alt="profile-icon" class="profile"/>
        </div>
        <div class="card-content">
          <h2>Chu Linh Đơn (VN)<small>Mastery Score: 25.415.680</small></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4  p-2">
      <div class="card profile-card-3">
        <div class="background-block">
          <img src="/assets/splash/Mordekaiser_0.jpg" alt="champion" class="background"/>
        </div>
        <div class="profile-thumb-block">
          <img src="/assets/profile-icon/1421.png" alt="profile-icon" class="profile"/>
        </div>
        <div class="card-content">
          <h2>Tiểu Cửu Vĩ #1105 (VN)<small>Mastery Score: 24.731.650</small></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="card profile-card-3">
        <div class="background-block">
          <img src="/assets/splash/Ahri_0.jpg" alt="champion" class="background"/>
        </div>
        <div class="profile-thumb-block">
          <img src="/assets/profile-icon/656.png" alt="profile-icon" class="profile"/>
        </div>
        <div class="card-content">
          <h2>GaMBy #EUNE (EUNE)<small>Mastery Score: 24.663.291</small></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!--

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card d-flex flex-row align-items-center">
        <img src="../../assets/champions/Aatrox.png" alt="Aatrox" class="mr-4 img-champion">
        <div>
          <h3>Aatrox</h3>
          <p>Rank 1 : aeza</p>
          <p>Rank 2 : aeza</p>
          <p>Rank 3 : aeza</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card d-flex flex-row align-items-center">
        <img src="../../assets/champions/Ahri.png" alt="Ahri" class="mr-4 img-champion">
        <div>
          <h3>Ahri</h3>
          <p>Rank 1 : aeza</p>
          <p>Rank 2 : aeza</p>
          <p>Rank 3 : aeza</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card d-flex flex-row align-items-center">
        <img src="../../assets/champions/Akali.png" alt="Akali" class="mr-4 img-champion">
        <div>
          <h3>Akali</h3>
          <p>Rank 1 : aeza</p>
          <p>Rank 2 : aeza</p>
          <p>Rank 3 : aeza</p>
        </div>
      </div>
    </div>
  </div>
</div>
-->
